

body {
    /* background-color:  rgba(128, 128, 128, 0.26); */
   
}

.container{
    
}

.slider .slides {
    background-color: transparent;
    margin: 0;
    height: 400px;
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
}